<main>
    <app-header></app-header>
    <section>
            <div>
              <ul>
                <li>
                  <form>
                      <input class="song-title" value="" type="text" disabled/>
                      <input class="song-artist" value="" type="text" disabled/>
                      <input class="song-album" value="" type="text" disabled/>
                      <input class="song-year" value="" type="text" />
                      <input class="song-genre" value="" type="text" />
                      <input class="song-duration" value="" type="time" />
                      <input class="song-id" value="" type="hidden" />
                      <input class="song-spotifyId" value="" type="hidden" />
                      <input class="song-bpm" value="" type="hidden" />
                      <input class="song-shortname" value="" type="hidden" />
                </form>
                </li>
                
              </ul>
            </div>
    </section>
  </main>